@import "variables";

@mixin sm() {
  @media screen and (min-width: $sm-min-width) {
    @content;
  }
}
@mixin md() {
  @media screen and (min-width: $md-min-width) {
    @content;
  }
}
@mixin lg() {
  @media screen and (min-width: $lg-min-width) {
    @content;
  }
}
@mixin xl() {
  @media screen and (min-width: $xl-min-width) {
    @content;
  }
}

@function px-to-rem($px) {
  @return $px / 16px * 1rem;
}
@mixin font($family: $primary-font, $size: 1rem, $line: 1.5rem, $weight: 400) {
  font-family: $family;
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
  color: $white;
}
@mixin box($size-sm: px-to-rem(145px), $size-lg: px-to-rem(245px)){
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: $size-sm;
  min-height: $size-sm;
  max-width: $size-lg;
  max-height: $size-lg;
}