@import "variables";

@function px-to-rem($px) {
  @return $px / 16px * 1rem;
}
@mixin font($family: $primary-font, $size: 1rem, $line: 1.5rem, $weight: 400) {
  font-family: $family;
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
  color: $white;
}