$primary-font: "Apercu Pro", sans-serif;

$sm-min-width: 35.5em !default;
$md-min-width: 48em !default;
$lg-min-width: 64em !default;
$xl-min-width: 80em !default;

$m-selector-width: 144px;
$m-selector-padding: 5px;

$font-little: .8125rem; //13px
$font-small: .875rem; // 14px
$font-normal: 1rem; // 16px
$font-large: 1.125rem; //18px
$font-larger: 1.5rem; // 24px
$font-huge: 1.875rem; // 30px
$font-gigantic: 2.125rem; // 35px

$red: #f0293c;
$light-blue: #6793ac;
$white: #FFFFFF;