$primary-font: "Apercu Pro", sans-serif;

$font-little: .8125rem; //13px
$font-small: .875rem; // 14px
$font-normal: 1rem; // 16px
$font-large: 1.125rem; //18px
$font-larger: 1.5rem; // 24px
$font-huge: 1.875rem; // 30px
$font-gigantic: 2.5rem; // 40px

$red: #f0293c;
$light-blue: #6793ac;
$white: #FFFFFF;