@import "config";

@import "base/typography";

body {
  background: $light-blue url(/img/background1.jpg) no-repeat top center;
  background-size: cover;
  min-width: 380px;
  //overflow: hidden;
}

a {
  text-decoration: underline;
  color: $white;
}
#wrapper {
  min-height: 100vh;
  position: relative;
}
#content {
  padding-bottom: 100px;
}
.content-text {
  margin-top: px-to-rem(25px);
}