@import "config";

@import "base/typography";

body {
  background: $light-blue url(/img/background1.jpg) no-repeat top center;
  background-size: cover;
}

a {
  text-decoration: underline;
  color: $white;
}