@import "config";

@import "base/typography";

body {
  background: $light-blue url(/img/background1.jpg) no-repeat top center;
  background-size: cover;
  min-width: 380px;
  //overflow: hidden;
}

a {
  text-decoration: underline;
  color: $white;
}
#wrapper {
  min-height: 100vh;
  position: relative;
}
#content {
  padding-bottom: 100px;
}
.content-text {
  margin-top: px-to-rem(25px);
}
@include lg() {
  #content {
    margin-top: 15%;
    max-width: 90%;
  }
  .content-text {
    display: inline-block;
    float: left;
    margin-top: 0;
  }
  .next-line-lg {
    display: block;
  }
  .content-cards {
    display: inline-block;
    float: right;
  }
}
