@import "../config";

.footer-social-icon{
  width: px-to-rem(25px);
  margin-left: px-to-rem(10px);
  vertical-align: bottom;
}
.spotify-logo {
  width: px-to-rem(80px);
  margin-left: px-to-rem(9px);
}
.selector--title img {
  width: px-to-rem(30px);
}