@import "../config";

.footer-social-icon{
  width: rem-calc(25);
  margin-left: rem-calc(10);
  vertical-align: bottom;
}
.spotify-logo {
  width: rem-calc(80);
  margin-left: rem-calc(9);
}
.selector--title img {
  width: rem-calc(30);
}