@import "../config";

.panel-selectors {
  display: grid;
  width: 90%;
  height: 40%;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.panel-selectors__button {
  border: 1px solid green;
  width: 150px;
  height: 150px;
}