@import "../config";

.panel-selectors {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  color: white;
  margin: 0 auto;
  max-width: 2 * $m-selector-width + 4 * $m-selector-padding;
}

.panel-selectors__button {
  box-sizing: border-box;
  display: flex;
  width: 50%;
  padding: $m-selector-padding;
  background: $red;
  background-clip: content-box;
}

.selector {
  padding: 5px;
  border: 5px solid $red;
  hr {
    border: none;
    border-top: 5px solid white;
  }
}

.selector--title {
  width: 100%;
  padding: 5px;
  border: 5px solid $red;
  text-align: center;
  background: white;
  color: $red;

  h5 {
    margin: 16px 0;
    font-size: 1em;
  }
}

@include md() {
  .panel-selectors {
    max-width: 3 * $m-selector-width + 6 * $m-selector-padding;
    //margin-left: 0;
  }

  .panel-selectors__button {
    width: 33.333%;
  }
}
