@import "../config";

.clear:before,
.clear:after {
  content: "";
  display: block;
  clear: both;
}

.inline {
  display: inline-block;
}

.block-centered {
  margin-left: auto;
  margin-right: auto;
}
